<section class="shop-item">
	<div class="image-container">
		<img class="shop-item-image" src="{{url}}"/>
	</div>
	<div class="item-info">
		<p class="item-caption">
			<a href="#">{{caption}}</a>
		</p>
		<p class="item-price">{{price}}</p>
		<button type="button" class="item-like-button">Like</button>
		<button type="button" class="item-addtocart-button">Add to cart</button>
	</div>	
</section>