@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/*
* CSS for Landing Page
*/
body{
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

div.head-info {
  text-align: center;
  margin-top: 150px;
  font-family: verdana;
}

div.head-title {
  display: inline;
}

label {
  font-family: verdana;
}

#login-username-input {
  resize: none;
}

#login-password-input {
  resize: none;
}

#login-modal {
  margin: auto;
  border: solid;
  width: 200px;
  padding: 10px;
}

/*
* CSS for mainShop and other pages
*/
.item-container {
  margin-left: 75px;
  margin-right: 75px;
  display: flex;
  flex-wrap: wrap;
}

.shop-item {
  margin: 10px;
  width: 250px;
  padding: 10px;
  border: solid;
}

a {
  text-decoration: none;
  font-size: medium;
}

a:hover {
  color: lightskyblue;
}

h1{
  margin: 8px;
}

.navitem a{
  color: white;
}

.navitem a:hover{
  color: lightskyblue;
}

.active{
  font-weight: 600;
}

.navbar{
  background-color: rgb(56, 56, 94);
  padding: 2px;
}

.navlist{
  margin:2px;
}

.navitem{
  display: inline-block;
  padding: 8px;
  font-size: medium;
  color: white;
}

.navbar-cart {
  float: right;
  margin-right: 20px;
}

.item-info {
  /* font-family: verdana; */
}

/*
.image-container {
  margin-left: 55px;
}
*/
#navbar-shopping-cart-button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
}
