/*
* CSS for Landing Page
*/
div.head-info {
  text-align: center;
  margin-top: 150px;
  font-family: verdana;
}

div.head-title {
  display: inline;
}

label {
  font-family: verdana;
}

#login-username-input {
  resize: none;
}

#login-password-input {
  resize: none;
}

#login-modal {
  margin: auto;
  align: center;
  border: solid;
  width: 200px;
  padding: 10px;
}

/*
* CSS for mainShop and other pages
*/
.shop-item {
  margin: auto;
  width: 300px;
  padding: 10px;
  border: solid;
}

h1 {
  font-family: verdana;
}

h1 a:link {
  text-decoration: none;
}

h1 a:hover {
  color: olive;
}

.navitem {
  display: inline-block;
}

.navbar-cart {
  float: right;
  margin-right: 20px;
}

.item-info {
  font-family: verdana;
}

.image-container {
  margin-left: 55px;
}

#navbar-shopping-cart-button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
}
