/*
* CSS for Landing Page
*/
div.head-info {
  font-family: verdana;
  text-align: center;
  margin-top: 150px;
}

div.head-title {
  font-family: verdana
  display: inline;
}

#login-username-input {
  font-family: verdana;
  resize: none;
}

#login-password-input {
  font-family: verdana;
  resize: none;
}

#login-modal {
  font-family: verdana;
  margin: auto;
  align: center;
  border: solid;
  width: 200px;
  padding: 10px;
}

/*
* CSS for mainShop and other pages
*/

h1 {
  font-family: verdana;
}

h1 a:link {
  text-decoration: none;

}

h1 a:hover {
  color: olivedrab;
}

h1 a:visited {
  text-decoration: none;
}

h1 a:active {
  text-decoration: none;
}

.shop-item {
  font-family: verdana;
  margin: auto;
  width: 300px;
  padding: 10px;
  border: solid;
}

.navitem {
  font-family: verdana;
  display: inline-block;
}

.navbar-cart {
  float: right;
  margin-right: 20px;
}

#navbar-shopping-cart-button {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
}
